<!DOCTYPE html>
<html>
<head>
    <title>TRADE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="signcss.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">


    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos a TRADE</h1>
        <hr class="my-4">
        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registro</h2>
        <form action="/signup" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputName">Nombre</label>
                  <input type="text" class="form-control" placeholder="nombre">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastName">Apellido</label>
                  <input type="text" class="form-control" placeholder="apellido">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Correo</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Direccion</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
            </div>  
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Ciudad</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h2>Cuento con:</h2>
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Botellas de Agua</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <h2>Me interesa:</h2>
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Botellas de Agua</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Botiquin</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Botiquin</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Baterias</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Baterias</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Lamparas</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Lamparas</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Gasas</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Gasas</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Lata de atun</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Lata de atun</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Cuchillo</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Cuchillo</label>
                    <br>
                    <select class="form-control" id="inlineFormCustomSelect">
                        <option selected>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                    </select>
                </div>
            <div class = "col text-center">
                    <button onclick="alert('a')" name="signupButton" type="submit" class="btn btn-success btn-group-lg" >Registrar</button>
            </div>
            </div>          
        </div>
    </form>
    <hr>
    <p>Ya tienes una cuenta? <a href="/login">Iniciar la sesion</a></p>
</div>
</div>
</div>
</body>
</html>

    
